@page "/availableRooms"
@using System.Net.Http
@inject HttpClient Http


<h3>Select Dates</h3>

<p>
    Number of People: <InputNumber @bind-Value="numberOfPeople"> </InputNumber>
    Start Date:       <InputDate @bind-Value="startDate" />
    End Date:         <InputDate @bind-Value="endDate" />
</p>

<button @onclick="FetchRooms">Find Rooms</button>
<br />

@if( error != null)
{
    <br />
    <br />
    <p> @error </p>
}
else if (availableRooms != null)
{
    <h3>Available Rooms</h3>
    <ul>
        @foreach (var room in availableRooms)
        {
            <li>
                <RoomListItem roomToShow="room"></RoomListItem>
            </li>
        }
    </ul>
}


@code {
    private List<RoomDTO> availableRooms;

    private string error;


    [Parameter]
    public DateTime startDate { get; set; }
    [Parameter]
    public DateTime endDate {get; set;}
    [Parameter]
    public int numberOfPeople { get; set; }

    protected override async Task OnInitializedAsync()
    {
        startDate = DateTime.Now;
        endDate = DateTime.Now.AddDays(7);
        numberOfPeople = 1;
    }

    private async Task FetchRooms()
    {
        if (startDate.AddDays(1) > endDate)
        {
            error = "Slut datoen skal være senere end start datoen";
            return;
        }
        var response = await Http.GetFromJsonAsync<List<RoomDTO>>($"https://h2-api.onrender.com/api/Rooms/available?numberOfPeople={numberOfPeople}&startDate={startDate:yyyy-MM-dd}&endDate={endDate:yyyy-MM-dd}");
        availableRooms = response;
    }
}
