@page "/currentuser"
@using System.Net.Http
@inject HttpClient Http
@using BlazorWA.Service

<h3>Current User Information</h3>

@if (currentUser != null)
{
    <div>
        <h4>@currentUser.FirstName @currentUser.LastName</h4>
        <p>Email: @currentUser.Email</p>
        <p>Phone Number: @currentUser.PhoneNumber</p>
    </div>
}
else
{
    <p>No user is currently logged in.</p>
}

@code {
    private User currentUser;

    protected override async Task OnInitializedAsync()
    {
        var token = TokenService.Token;
        string email = TokenService.GetUserEmailFromToken(token);
        if (!string.IsNullOrEmpty(email))
        {
            currentUser = await Http.GetFromJsonAsync<User>($"https://h2-api.onrender.com/api/Users/{email}");
        }
    }
}
