@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Hotel - MAGS</h1>

Take a look at our rooms!

<First12Rooms> </First12Rooms>

@code {
    protected override async Task OnInitializedAsync()
    {
        var token = TokenService.Token;
        StateHasChanged();
        Console.WriteLine($"JWT Token: {token}");
    }

}