@page "/room/{roomId}"
@inject HttpClient Http
@using System.Text.Json

<h1>Room number @roomId </h1>

@if (roomToShow == null)
{
    <p><em>Loading...</em></p>
    @error
}
else
{
    <RoomPage roomToShow="roomToShow"></RoomPage>
}

@code {
    [Parameter]
    public string roomId {get; set;}
    private RoomDTO roomToShow;

    public string error; 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<RoomDTO>($"https://h2-api.onrender.com/api/Rooms/{roomId}");
            if (response != null)
            {
                roomToShow = response;
            }
            else
            {
                NavigationManager.NavigateTo("/rooms");
            }
        }
        catch (Exception ex)
        {
            // Log the exception or handle it as needed
            error = $"An error occurred: {ex.Message}";
            NavigationManager.NavigateTo("/rooms");
        }
    }
}
