@using System.Net.Http
@inject HttpClient Http

@if (error != null)
{
    <p> @error </p>
}
else if (allRooms != null)
{
    @foreach (RoomDTO room in allRooms)
    {
        <RoomListItem roomToShow="room"></RoomListItem>
    }
}

@code {
    private List<RoomDTO> allRooms;

    private string error;

    protected override async Task OnInitializedAsync()
    {
        await FetchRooms();
    }

    private async Task FetchRooms()
    {

        var response = await Http.GetFromJsonAsync<List<RoomDTO>>($"https://h2-api.onrender.com/api/Rooms");
        allRooms = response;
    }
}